<div class="ligne">
    <div class="memo">
        <div class="droite">
            <div>
                <textarea id="<%- memo['Id'] %>" class="texteMemo" rows="3" cols="30" placeholder="texte"
                    <%- memo["Droit"] == 2 ? "readonly" : "" %> maxlength="100" required><%= memo['Texte'] %>
                </textarea>
            </div>
        </div>
        <%
            if(memo["Droit"] == 0)
            {
        %>
        <form class="ajouteUtilisateur" action="/ajouteUtilisateurAMemo">
            <label for="pseudo">Partager avec :</label>
            <input type="text" id="pseudo" name="pseudo" size="25" placeholder="Pseudo" required>
            <div>
                <input type="checkbox" id="ecriture<%- memo['Id'] %>" name="ecriture">
                <label for="ecriture<%- memo['Id'] %>">Droit en écriture</label>
            </div>
            <input type="hidden" name="id" value="<%- memo['Id'] %>">
        </form>
        <%
            }
        %>
    </div>
    <%
        if(memo["Droit"] == 0)
        {
    %>
    <a class="suppr" href="/supprMemo?id=<%- memo['Id'] %>">
        <img src="/images/suppr.jpg">
    </a>
    <%
    	}
    %>
</div>